<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All of buyers</title>
</head>
<body>

<div th:each="buyer : ${buyer}">
<a th:href="@{/buyer/{id}(id=${buyer.getId()})}" th:text="${buyer.getName()}">buyer</a>

</div>

<br/>
<hr/>

<div th:each="product : ${product}">
    <a th:href="@{/product/{id}(id=${product.getId()})}" th:text="${product.getTitle()}">product</a>

</div>

<br/>
<hr/>

<a href="product/new">Create new product</a>

</body>
</html>

</body>
</html>